@page
@model OWCE_Web.Pages.FAQModel
@{
    ViewData["Title"] = "Frequently Asked Questions";
}


<h2>OWCE Frequently Asked Questions</h2>
<h3>What is OWCE?</h3>
<p>
    Onewheel Community Edition app is a 3rd app for both iOS and Android to your Onewheel. It is not endorsed by or affiliated with Future Motion in any way.
</p>

<h3>I can't see it in the store, how do I install OWCE?</h3>
<p>
    OWCE is currently in beta, if you wish to install it please see our <a href="/install">install</a> instructions.
</p>

<h3>How do I reach out to the OWCE team?</h3>
<p>
    If you have comments, questions, suggestions, or want to report a bug you can reach us at:
    <ul>
        <li><a href="https://www.facebook.com/groups/624316091710330" target="_blank">OWCE Group</a> on Facebook</li>
        <li><a href="https://twitter.com/owceapp">@@owceapp</a> on Twitter</li>
        <li>File an issue on our GitHub repository <a href="https://github.com/OnewheelCommunityEdition/OWCE_App/issues">here</a>.</li>
    </ul>
</p>

<br />
<br />
<h2>Unofficial Onewheel Frequently Asked Questions</h2>
<p>
    <ul>
        <li>
            <a href="/faq/unofficial_app_update">App/firmware update FAQ</a>
        </li>
        <li>
            <a href="/faq/unofficial_activating">Activating FAQ</a>
        </li>
    </ul>
</p>