@page
@model OWCE_Web.Pages.InstallModel

@{
    ViewData["Title"] = "Install";
}

<h2>OWCE Install/Update Instructions</h2>
<h3>To install on iOS:</h3>
<ol>
    <li>Download <a href="https://apps.apple.com/us/app/testflight/id899247664" target="_blank">TestFlight</a> from the AppStore.</li>
    <li>After that is installed and open, go to our TestFight beta invite page from your phone <a href="https://testflight.apple.com/join/erN13tuH" target="_blank">https://testflight.apple.com/join/erN13tuH</a></li>
</ol>

<h3>To update on iOS:</h3>
<ol>
    <li>Open TestFlight, click update next to Onewheel Community Edition. If there is no update button there is no update available</li>
</ol>


<h3>To install on Android:</h3>
<ol>
    <li>Go to our Google Play beta signup page, <a href="https://play.google.com/apps/testing/com.owcommunity.owce" target="_blank">https://play.google.com/apps/testing/com.owcommunity.owce</a></li>
    <li>After you have signed up, search and install Onewheel Community Edition from the Google Play Store.</li>
</ol>

<h3>To update on Android:</h3>
<ol>
    <li>Get the update via the Google Play Store like any other app.</li>
</ol>

<br /><br />

<h2>OWCE Install FAQ</h2>
<h3>Why do I need to jump through hoops to get the app?</h3>
OWCE is currently still in beta. Until we feel it is stable enough and is feature rich enough to be considered a 1.0 release that is where it will remain.

<h3>Why does TestFlight have a countdown of days remaining?</h3>
The app needs to be updated every 90 days. We try to get new features in and released in that window. If we don't manage to get that done the time will lapse and the app will no longer be available. If this happens the best way to reach out to us as mentioned below.
