@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Known Onewheel Hardware Firmware</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="@CDN.Path//apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="@CDN.Path//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="@CDN.Path//favicon-16x16.png">
        <style type="text/css">
            body {
                margin: 0px;
            }

            iframe {
                display: block; /* iframes are inline by default */
                background: #000;
                border: none; /* Reset default border */
                height: 100vh; /* Viewport-relative units */
                width: 100vw;
            }
        </style>
    </head>
    <body>
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ2HA2O1Aw2C_O7UQq7UViI6zo76ZHE__UI6KTj6hDD4Nu2OSYhe9U_wmz_h4_05bB0_j3XobpFgNhw/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </body>
</html>