@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Unofficial Onewheel App/Firmware Update FAQ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="https://@HttpContext.Request.Host/faq/app_update">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Unofficial Onewheel App/Firmware Update FAQ">
    <meta property="og:image" content="@CDN.Path/img/owce_hwfw.png">
    <meta property="og:description" content="Frequently asked questions about app and firmware updates.">

    <style type="text/css">
        body {
            margin: 0px;
        }

        iframe {
            display: block; /* iframes are inline by default */
            background: #000;
            border: none; /* Reset default border */
            height: 100vh; /* Viewport-relative units */
            width: 100vw;
        }
    </style>
</head>
<body>
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vRDTxlXLHWG6FquSRqDrZIwbv02fjAcTjaNWTm_gzR4sXKOM7i2ozq_775ZF_XpDWh6sWbi_LOO9kTk/pub?embedded=true"></iframe>
</body>
</html>