@page
@model OWCE_Web.Pages.UnofficialActivatingFAQModel
@{
    ViewData["Title"] = "Unofficial Activating FAQ";

}

<h2>Unofficial Activating FAQ x</h2>
<p>
    Sometimes when you power up your XR, Pint, Pint X or GT you will see an "activating" message. This FAQ aims to clear up what this means. Official information regarding activating can be found <a href="https://support.onewheel.com/hc/en-us/articles/4406703863191-Technical-Problems-with-the-App" target="_blank">here</a>.
</p>

<h3>What is activating?</h3>
<p>
    Activating is the wording FM uses for obtaining a "key" from their servers for your board.  If your board does not have a key sent to it, it will not be able to send any board information back to the app.
</p>


<h3>That seems excessive, why do they bother with a key?</h3>
<p>
    The key is a mechanism FM uses to prevent 3rd party apps (both positive and malicious) from accessing your board in order to keep you <i>safe</i>.
</p>


<h3>Why does my app keep showing the activating message?</h3>
<p>
    If the activating message does not go away this means there was a problem obtaining the key. This could be anything from your device not having internet connectivity through to FM servers briefly being offline.
</p>


<h3>How can I fix the activating message?</h3>
<p>
    These are the steps that are recommended to get past the activating message:
    <ol>
        <li>Make sure your phone can access the internet. If you can't access the internet you can't get a key.</li>
        <li>Reboot your phone. Sometimes your phone could get the old network address to a server and rebooting can fix this.</li>
        <li>Delete and reinstall the Onewheel app. The app could have stored some bad data. Reinstalling can help clear out some of this bad data. (NOTE: This will remove any information that isn't synced with FMs cloud servers)</li>
        <li>At this point you have exhausted all options available to you and the issue is likely with FMs servers being under heavy load. Try again later</li>
    </ol>
    If the problem persists for more than a few hours you should <a href="https://support.onewheel.com/hc/en-us/requests/new" target="_blank">submit a support ticket</a> so they can look into it.<br />
    In the mean time you can continue ride without the app, you just won't be able to change ride mode, record your ride, unlock achievements, etc. Board total odometer will keep ticking up.
</p>

<h3>Does my board need to activate every time?</h3>
<p>
    Nope. The value is stored locally in your app. Deleting your app will remove the local copy, so when you re-install you will have to re-activate.
</p>